upstream tinypilot {
    server 127.0.0.1:48000 fail_timeout=1s max_fails=600;
}
upstream ustreamer {
    server 127.0.0.1:48001 fail_timeout=1s max_fails=600;
}
upstream janus-ws {
    # The host and port must match the variables in
    # debian-pkg/usr/share/tinypilot/janus.transport.websockets.jcfg
    server 127.0.0.1:48002 fail_timeout=1s max_fails=600;
}
